<template>
  <div
    class="plane-item"
    v-bind:class="{ 'is-complete': mutablePlane?.completed }"
  >
    <p>
      <input
        type="checkbox"
        v-on:change="markComplete"
        v-bind:checked="mutablePlane?.completed"
      />
      {{ mutablePlane?.title }}
    </p>
  </div>
</template>
<script>
export default {
  name: "PlaneItem",
  props: ["plane"],
  methods: {
    markComplete() {
      this.mutablePlane.completed = !this.mutablePlane.completed;
    },
  },
  data: function() {
    return {
      mutablePlane: JSON.parse(JSON.stringify(this.plane)),
    };
  },
};
</script>
<style lang="sass" scoped>
  .plane-item {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
  }
  .is-complete {
    text-decoration: line-through;
  }
  .del {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
  }
</style>