<template>
<div>
    <h1>{{planes.length}}</h1>
<div  v-for="bonda in planes" :key="bonda.id">
    <PlaneItem v-bind:x="bonda"/>
</div>
</div>
    
</template>
<script>
import PlaneItem from './PlaneItem.vue'
export default {
    name: "Planes",
    components: {
        PlaneItem
    },
    props:["planes"]
    
}
</script>
<style scoped>

</style>