<template>
  <div id="app">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <!-- <Planes v-bind:planes="planes" /> -->
    <Routes v-bind:routes="routes_1"/>
  </div>
</template>

<script>
// import Planes from "./components/Planes.vue";
import Routes from "./components/Routes.vue";
import axios from "axios";

export default {
  name: "App",
  components: {
    // Planes,
    Routes
  },

  data() {
    return {
      planes: [],
      routes_1:[]
    };
  },
  created() {
    axios
      .get("http://localhost:5000/airlines")
      .then((res) => 
        this.planes = res.data
      )
      .catch((err) => console.log(err));
    axios
      .get("http://localhost:5000/routes")
      .then((res) => 
        this.routes_1 = res.data.slice(0,5)
      )
      .catch((err) => console.log(err));
  },
};
</script>

<style>
* {
  box-sizing: border-box;
  margin: 50;
  padding: 50;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
</style>
